services:
    app:
        build: ./docker/app/.
        container_name: angara-app
        restart: always
        working_dir: /var/www/html
        volumes:
            - .:/var/www/html
            - /mnt/c/Users/T_Ron/Desktop:/var/www/html/tmp
        networks:
            - angara-network
        ports:
            - '4101:5173'

    web:
        image: nginx:alpine
        container_name: angara-web
        restart: always
        working_dir: /var/www/html
        ports:
            - '4100:80'
        volumes:
            - .:/var/www/html
            - ./docker/web/nginx/conf.d/:/etc/nginx/conf.d/
        networks:
            - angara-network

    db:
        image: mysql:8.4.7
        container_name: angara-db
        restart: always
        environment:
            - MYSQL_DATABASE=angara
            - MYSQL_USER=angara
            - MYSQL_PASSWORD=angara
            - MYSQL_ROOT_PASSWORD=root
        volumes:
            - ./docker/db/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
            - mysql_data:/var/lib/mysql:cached
        ports:
            - '4102:3306'
        networks:
            - angara-network

networks:
    angara-network:
        driver: bridge

volumes:
    mysql_data:
#    spacetimedb_data:
